# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
*.egg

# Virtual Environments
backend/.venv

# Environment variables
.env

# Ruff stuff:
.ruff_cache/

# VS code
.vscode/

# uv
uv.lock